.pageSeperator {
    padding-top: 100px;
}

.pageSeperatorLess {
    padding-top: 2rem;
}

.projectItem {
    padding: 0.5rem;
    margin: 1rem 0;
    background-color: whitesmoke;
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    text-align: center;
}
.courseItem {
    padding: 0.5rem;
    margin: 1rem 0;
    background-color: whitesmoke;
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    text-align: center;
}

.containerProjects {
    width:100%;
    height:100%;
    overflow: hidden;
}
.pageSeperatorWorkExp {
    margin-top: 50px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    width: 50rem;
    height: 10rem;
    max-width: 75%;
    overflow: auto;
    background-color: #EB9DBA;
}
.itemHolder {
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    width: 50rem;
    height: 40rem;
    max-width: 75%;
    overflow: auto;
    background-color: #EB9DBA;
    justify-content: center;
    margin: auto;
    margin-top: 4rem;
    align-items: center;
}

img {
    width:50%; 
    height: auto;
    justify-content: center;
}
a {
    font-size: 16px;
    padding-top: 5px;
    color:lightgray
}

a:hover {
    color: hotpink;
  }
  
img.internship {
    width: 40%; 
    height: auto;
    justify-content: center;
}

h1 {
    font-size: 26px;
    padding: 5px;
    color: #EB9DBA;
}

h2 {
    font-size: 26px;
    padding: 5px;
    color: rgb(104, 176, 221);
}

p {
    font-size: 16px;
    padding-top: 0.5rem;
    color:lightgray
}
#coursesP {
    color:dimgray;
}
ul {
    list-style-type: none;
    color: lightgray;
}

li::before{
    content: "🌸";
    margin: 10px;
    padding: 10px;
}

body {
    background-color: black;
}

/* width */
::-webkit-scrollbar {
    width: 0.5rem;
    background-color: #212529;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: whitesmoke; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: gainsboro; 
  }